@media (max-width: 800px) {
    .container {
        max-width: 600px;
        padding: 0 4rem;
    }
}

@media (max-width: 650px) {
    .container {
        margin-top: 3rem;
        max-width: 500px;
        padding: 0 2rem;
    }
}

@media (max-width: 520px) {
    .container {
        max-width: 99%;
    }
}

@media (max-width: 520px),
       (max-height: 650px) {
    .container {
        margin-top: 2rem;
        padding: 0 5%;
    }

    #add-task-button {
        min-width: 2.5rem;
        min-height: 2.5rem;
    }

    #new-task-input {
        height: 2.5rem;
        margin-right: 1rem;
        font-size: 1.3rem;
    }

    .delete-button {
        height: 2.25rem;
        width: 2.25rem;
    }

    .lower-buttons-row .button {
        height: 2.25rem;
        width: 2.25rem;
        padding-top: 2px;
        font-size: 1.3rem !important;
    }

    .task-description {
        font-size: 1.25rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
}